<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!--<link rel="stylesheet"   th:href="@{/css/style.css}">
    <script th:src="@{/js/template.js}"></script>-->
</head>

<body class="container bg-dark text-white">
<!-- start codes -->

<p class="display-5">Table</p>
<table class="table table-hover table-striped table-dark">
    <thead>
        <tr class="bg-primary">
            <th th:text="#{studentId}" ></th>
            <th th:text="#{studentName}" ></th>
            <th th:text="#{studentSurname}" ></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="stu:${key_controller}">
            <td th:text="${stu.studentId}" ></td>
            <td th:text="${stu.studentName}" ></td>
            <td th:text="${stu.studentSurname}" ></td>
        </tr>
    </tbody>
</table>



<!-- ends codes -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>